<tr>
  <td><%= node.name %></td>
  <td>
    <%= link_to 'Show', node %> |
    <%= link_to 'Edit', edit_node_path(node) %> |
    <%= link_to 'Destroy', node, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>
