<tr>
  <td>
    <%= link_to node.name, edit_node_path(node), class: 'node_title' %>
  </td>

  <td class="col-md-2 col-sm-3 col-xs-4">
    <%= link_to 'Build', [@project, @node, :deployments], class: 'btn btn-primary', method: :post %>

    <%= link_to node, method: :delete, title: 'Destroy', data: { confirm: 'Are you sure?' } do %>
      <span class="icon-remove"></span>
    <% end %>
  </td>
</tr>
