<tr>
  <td>
    <%= link_to node.name, [:edit, @project, node], class: 'node_title' %>
  </td>

  <td class="col-md-2 col-sm-3 col-xs-4">
    <%= link_to 'Build', [@project, node, :deployments], class: 'btn btn-primary btn-sm', method: :post %>

    <%= link_to [@project, node], method: :delete, title: 'Destroy', data: { confirm: 'Are you sure?' } do %>
      <span class="fa fa-trash-o fa-lg"></span>
    <% end %>
  </td>
</tr>
