<%= render 'shared/project_navigation_tabs' %>

<br/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Node</h3>
  </div>

  <div class="panel-body">
    <%= form_for [@project, @node] do |f| %>
      <%= render 'form', f: f %>

      <button type="submit" class="btn btn-success">Save</button>

      <%= link_to 'Remove', [@project, @node], method: :delete, data: {confirm: 'Are you sure?'},
                  title: 'Destroy', class: 'btn btn-danger btn-sm pull-right' %>

  <% end %>
  </div>
</div>

