<%= render 'shared/project_navigation_tabs' %>

<table class='table'>
  <thead>
    <tr>
      <th>Node</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @nodes %>
  </tbody>
</table>

<br/>
<%= link_to 'New node', new_project_node_path(@project) %>
