<%= render 'shared/project_navigation_tabs' %>

<table class='table'>
  <thead>
    <tr>
      <th>Node</th>
      <th><%= link_to '+ Add node', new_project_node_path(@project), class: 'btn btn-primary'%></th>
    </tr>
  </thead>

  <tbody>
    <%= render @nodes %>
  </tbody>

</table>
