<table class='table'>
  <thead>
    <tr>
      <th>Node</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @nodes %>
  </tbody>
</table>
<%= link_to 'New node', new_node_path %>
