<h3>Nodes of "<%= @project.title %>"</h3>
<table class='table'>
  <thead>
    <tr>
      <th>Node</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @nodes %>
  </tbody>
</table>
<%= link_to 'New node', new_project_node_path(@project) %> |
<%= link_to 'Back to project', @project %>
