<div class="panel panel-default projects_panel">
  <div class="panel-heading">
    <%= link_to '+ Projects', new_project_path, class: 'panel-title btn btn-primary' %>
  </div>

  <div class="panel-body" >
    <% @projects.each do |project| %>
      <div class="row <%= (@project == project) && 'active' %>">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <span><%= link_to project.title, project %></span>
          <%= link_to edit_project_path(project), title: 'Settings', class: 'pull-right' do %>
            <span class="icon-gear"></span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
