<div class="form-group">
  <%= f.text_field :title, class: 'form-control', placeholder: 'Title' %>
</div>

<div class="form-group">
  <%= f.label :cookbooks %>
  <%= f.hidden_field :cookbooks, class: 'form-control ace-editor', data: {language: 'ruby'} %>
</div>
