<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">

      <h1>Editing project</h1>

      <%= render 'form' %>

      <%= link_to 'Show', @project %> |
      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>