<tr>
  <td><%= role.name %></td>
  <td>
    <%= link_to 'Show', role %> |
    <%= link_to 'Edit', edit_role_path(role) %> |
    <%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %>
  </td>
</tr>

