<tr>
  <td><%= link_to(role.name, [:edit, role]) %></td>
  <td class="col-md-1 col-sm-1 col-xs-1">
    <%= link_to role, method: :delete, title: 'Destroy', data: { confirm: 'Are you sure?' } do %>
      <span class="icon-remove"></span>
    <% end %>
  </td>
</tr>

