<%= render 'shared/project_navigation_tabs' %>

<br/>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Role</h3>
  </div>
  <div class="panel-body">
    <%= form_for [@project, @role] do |f| %>
      <%= render 'form', f: f %>

      <button type="submit" class="btn btn-success">Update</button>

      <%= link_to [@project, @role], method: :delete, data: {confirm: 'Are you sure?'},
                  title: 'Destroy', class: 'btn btn-danger btn-sm pull-right' do %>
        <i class="fa fa-trash-o"></i> Delete
      <% end %>

  <% end %>
  </div>
</div>
