// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shared_links {
  margin-top: 20px;
}

textarea.code {
  font-family: monospace;
}

.ace-editor, .ace-highlight {
  font-family: source-code-pro, Monaco, Menlo, 'Ubuntu Mono', Consolas, monospace;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 12px;
}
.ace_editor p, .ace_editor div { font-size: 12px}

.projects_panel {
  .row.active {
    div:first-child span {
      font-weight: 800;
    }
  }

  .actions {
    text-align: right;
  }
}
