// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.shared_links {
  margin-top: 20px;
}

textarea.code {
  font-family: monospace;
}

.ace-editor, .ace-highlight {
  min-height: 600px;
}
