<%= render 'shared/project_navigation_tabs' %>

<br/>

<div class="table-responsive">
  <table class='table'>
    <thead>
    <tr>
      <th>Build</th>
      <th>Node</th>
      <th>Duration</th>
      <th>Finished</th>
    </tr>
    </thead>
    <tbody>
    <%= render @deployments %>
    </tbody>
  </table>
</div>
