<%= render 'shared/project_navigation_tabs' %>

<br />

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>Build</th>
      <th>Node</th>
      <th>Duration</th>
      <th>Finished</th>
    </tr>
  </thead>
  <tbody>
    <%= render @deployments %>
  </tbody>
</table>
